<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Message</a><br />
<table>
    <tr>
        <th>Name</th>
        <th>date</th>
        <th>message</th>
        <td>Actions</td>

    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.sentby}"></td>
        <td th:text="${message.posteddate}"></td>
        <td th:tex="${message.content}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>